:root {
  --font-principal: "Rubik", sans-serif;
  --text-regular: 400;
  --text-medium: 500;
  --text-semibold: 600;
  --size-title: 2.5rem;
  --size-subtitle: 1.5625rem;
  --size-sub-section: 1.125rem;
  --black: #c7821b;
  --gray: #000000;
  --white: #ffffff;
  --index-minus: -1;
  --index-10: 10;
  --index-20: 20;
  --index-90: 90;
  --index-100: 100;
  --m-10: 1.25rem;
}

/*! ================== UNIVERSAL CONFIG =============== */
body {
  font-family: var(--font-principal);

  color: var(--gray);
  /* background-color: var(--black); */
  background: linear-gradient(90deg, #266c75, #61960c);
}
section[id*="sec"] {
  scroll-margin-top: 7rem;
}
/*? ================== SELECTOR UNIVERSAL ============= */
.relative {
  position: relative;
}
.mx-section {
  margin-left: var(--m-10);
  margin-right: var(--m-10);
}
.text-center {
  text-align: center;
}
.element-center {
  display: flex;
  margin: auto;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.title {
  font-size: var(--size-title);
  font-weight: var(--text-semibold);
  line-height: 2.5rem;
}
.sub-title {
  font-size: var(--size-subtitle);
  font-weight: var(--text-medium);
  line-height: 2rem;
}
.sub-section {
  font-size: var(--size-sub-section);
  font-weight: var(--text-regular);
}
.bg__content-circle {
  width: 9rem;
  overflow: hidden;
  position: absolute;
  z-index: var(--index-minus);
  /* background-color: cornflowerblue; */
}
.title__color {
  color: var(--white);
  hyphens: none;
}
.margin-section {
  margin-bottom: 4em;
}
.pb-1 {
  padding-bottom: 1em;
}
/*! ==================== BACKGROUND ANIMATION CUBES=============== */
.area {
  /* background: #1d4063;
  background: -webkit-linear-gradient(to left, #696ed1, #060938); */
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -2;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #23bebe;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
/*! ================== HEADER =================== */
.container__arrow-up {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: -50%;
  bottom: 15%;
  z-index: var(--index-90);
  color: var(--white);
  opacity: 0;
  transition: opacity 0.7s;
  -webkit-tap-highlight-color: transparent;
}
.container__arrow-up--active {
  right: 10%;
  background-color: #122525;
  opacity: 0.6;
  transition: opacity 1s;
}
.header {
  width: 100%;
  padding: 1.25rem;
  /* background: inherit; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--index-90);
  transition: box-shadow 1s;
}
.header__container {
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.5s;
}
.header__logo {
  line-height: normal;
  font-family: "Special Elite", cursive;
  font-size: 2rem;
  text-decoration: underline;
  color: var(--white);
}
/** ================== HEADER-FIXED =============== */
.header__fixed {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 8px 8px 0px var(--gray);
  transition: box-shadow 1s, background-color 1s;
}
.header__fixed::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  backdrop-filter: blur(10px);
  transition: backdrop-filter 1s;
}

/*? ================== NAV ===================== */
.nav__Menu-img {
  width: 3.125rem;
  padding: 5px;
}
/** ==================== DIV-menu =========== */
.nav__menu {
  width: 65%;
  height: 100%;
  padding: 0.625rem 0.625rem 0.625rem 1.25rem;
  box-shadow: 0rem 95px 15px 1px var(--gray);
  flex-direction: column;
  gap: 32px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: var(--index-100);
  background: linear-gradient(90deg, #61960c, #266c75);
}
/** ============= MENU OPEN/CLOSE ============ */
.menu__close {
  right: -100%;
  transition: right 0.5s;
}
.menu__open {
  right: 0;
  transition: right 0.5s;
}
/** IMG/CLOSE */
.nav__menu-img-close {
  width: 3.5rem;
  padding: 5px;
  filter: invert(100%);
  align-self: flex-end;
}
/** ================== LIST UL CONTENT ================== */
.nav__div-list {
  flex-direction: column;
  gap: 1.2rem;
}
/** ANCHOR/ITEM */
.ul__item {
  padding: 5px 0;
}
/*! =================== SECTION-PRINCIPAL =============== */
.main {
  padding-top: 100px;
}
.principal__content {
  margin-top: var(--m-10);
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  z-index: var(--index-10);
}
/*? ========== BACKGROUND ONE ============ */
.principal__background {
  width: 100%;
  position: absolute;
  /* overflow: hidden; */
  z-index: var(--index-minus);
  top: 20%;
}
/* IMAGE PERFIL */
.principal__face-perfil {
  width: 12.5rem;
  border-radius: 20%;
  margin-bottom: 1em;
}
.principal__redes {
  margin-top: 1rem;
  gap: 1.25rem;
}
.principal__button-cv {
  background-color: var(--gray);
  color: var(--black);
  padding: 0.6em;
  border: 2px solid inherit;
  border-radius: 0.5em;
  box-shadow: 3px 3px 2px var(--white);
  font-weight: var(--text-semibold);
}
.principal__button-cv:active {
  position: relative;
  top: 3px;
  left: 3px;
  box-shadow: 0 0 0;
}
/*?todo =============== BACKGROUND-CURVE =========== */
.principal__background-curve {
  width: 100%;
  overflow: hidden;
}
/*! ================= SECTIONS ABOUT============== */
/*?todo ==========background CIRCLE-one =============== */
.bg__content-circle--one {
  right: -1.25rem;
  top: -2rem;
}
.bg-circle-one {
  left: 50%;
  background: #e0ff33;
}

/*! ================== SKILLS ===================== */
.skills__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em 0em;
}
/* BOX SKILLS */
.skills__container-item {
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
/* IMG-BOXSKILLS */
.skills__icon {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: #23bebe;
}

/*! ================ SECTION/EXPERIENCE ============= */
.experience--container-element--item {
  border-bottom: 1px solid var(--white);
  margin-bottom: 10px;
}
.experience--container-element--item > span {
  width: 50%;
}
/*todo ========= IMG BACKGROUND-TWO ======== */
.bg__content-circle--two {
  bottom: -50%;
  left: -1.25rem;
}
.bg-circle-two {
  right: 50%;
  background-color: rgba(174, 5, 247, 0.986);
}
/*todo =========== ANIMATE BACKGROUND == */
.bg-circle {
  background-color: aqua;
}
.slider-thumb {
  /* position: absolute; */
  content: "";
  /* top: 5%; */
  /* left: 5%; */
  margin: 10px 10px 10px 5px;
  width: 150px;
  height: 150px;
  /* background-color: #3a0e92; */
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: 1;
  -webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}
/*! ================== IMG/PORTAFOLIO ================= */
/* .section__portfolio { 
} */
/** card container */
.portfolio__element {
  color: white;
  margin-bottom: 10px;
  position: relative;
  padding: 35px 20px;
  box-shadow: 3px 3px 8px 0px black;
  border-radius: 0.3125rem;
  overflow: hidden;
  background: linear-gradient(90deg, #65007e 60%, #00000000 90%);
}
/** img PREV */
.portfolio__img {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  z-index: -1;
  object-fit: contain;
  object-position: right;
  transition: 0.8s;
}
/** img desplegado VERTICAL */
.portfolio__img-vertical--active {
  display: block;
  max-width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  transition: max-width 1s, opacity 0.5s;
}
/** img desplegado HORIZONTAL */
.portfolio__img-horizontal--active {
  display: none;
}
/** TITLE CONTAINER */
.portfolio__element label {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
/** NUMBER */
.portfolio__element label h3 {
  color: #1bc785;
  font-size: 2.5em;
  font-weight: 700;
  text-shadow: 8px 8px 2px #00000062;
  transition: 0.8s;
}
/** TITLE */
.portfolio__element label h4 {
  position: relative;
  font-size: 1.3em;
  font-weight: 700;
}
/** ICON TITLE PLUS... */
.portfolio__element label::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 2em;
  color: #1bc785;
  transition: transform 0.8s;
}
/** ICON TITLE PLUS HOVER... */
.portfolio__element:hover label::after {
  color: #ffffff;
}
/** ICON TITLE PLUS click rotate */
.portfolio__element input:checked ~ label::after {
  transform: rotate(135deg);
}
/** CONTAINER CONTENT */
/*!despegable */
.portfolio__element--content {
  max-height: 0;
  z-index: 10;
  overflow: hidden;
  position: relative;
  width: 70%;
  transition: max-height 0.5s, overflow 0.5s;
}
/** CONTAINER CONTENT p */
.portfolio__element--content p {
  font-weight: 300;
  min-height: 180px;
}
/** CONTAINER CONTENT alert */
.portfolio__element--content error {
  text-decoration: line-through;
}
/** CONTAINER icons  */
.portfolio__element--content ul {
  margin-top: 5px;
  display: flex;
  gap: 1.25rem;
}
/** NUMBER unfolded */
.portfolio__element input:checked ~ label h3 {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 10em;
  z-index: 1;
  opacity: 0.2;
  transition: 0.7s;
}
/** CONTAINER CONTENT unfolded */
/*!despegable */
.portfolio__element input:checked ~ .portfolio__element--content {
  padding-top: 10px;
  max-height: 100vh;
  width: 70%;
  transition: max-height 1.3s, overflow 1.3s;
}
/** img PREV unfolded */
.portfolio__element input:checked ~ label .portfolio__img {
  opacity: 0;
  transition: 0.5s;
}
/** img desplegado VERTICAL */
.portfolio__element input:checked ~ label .portfolio__img-vertical--active {
  max-width: 100%;
  opacity: 1;
  object-fit: contain;
  object-position: right;
  height: 100%;
  transition: max-width 1s;
}
/*! =============== FOOTER ================= */
.footer__container-contact {
  justify-content: space-evenly;
  gap: 2rem;
}
.contact--hover:hover {
  color: var(--white);
}

.contact__item:hover {
  color: var(--white);
}
.contact__item {
  flex-direction: column;
  align-items: center;
  width: 130px;
  gap: 0.5rem;
}

.contact__item--icon {
  width: 3em;
  height: 3em;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 50%;
}
.svg__no-image {
  margin: 10px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
@media (width >= 30rem) {
  .nav__menu {
    width: 50%;
  }
  /*! ================= PORTFOLIO CONTENT ================= */
  .portfolio__element {
    background: linear-gradient(90deg, #65007e 65%, #00000000 100%);
  }
  /*! ================= PORTFOLIO CONTENT ================= */
}
@media (width >= 40rem) {
  :root {
    --size-subtitle: 35px;
  }
  .principal__background {
    top: 5%;
  }
  .skills__container {
    max-width: 20.5rem;
    margin-left: auto;
    margin-right: auto;
    gap: 2.1875rem;
  }
  .bg-circle-one {
    left: 20%;
  }
  .bg-circle-two {
    right: 20%;
  }
  /* todo -------- organizar portafolio */
  .portfolio__container-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  .page {
    max-width: 280px;
  }
  /*! ================= PORTFOLIO CONTENT ================= */
  .portfolio__element {
    background: linear-gradient(90deg, #65007e 75%, #00000000 90%);
  }
  .portfolio__element input:checked ~ .portfolio__element--content {
    width: 50%;
  }
  /* .portfolio__img-horizontal--active {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    opacity: 0.3;
    object-fit: contain;
    object-position: right;
  } */
  /*! ================= PORTFOLIO CONTENT ================= */
  /* todo -------- organizar portafolio */
}
@media (width >= 48rem) {
  .nav__menu {
    width: 35%;
  }
  .principal__face-perfil {
    width: 250px;
  }
  .principal__content h1 {
    max-width: 500px;
  }
  /*! ================= PORTFOLIO CONTENT ================= */
  .portfolio__element {
    background: linear-gradient(90deg, #65007e 80%, #00000000 90%);
  }
  /*! ================= PORTFOLIO CONTENT ================= */
}
@media (width >= 60rem) {
  :root {
    --m-10: 1.875em;
  }
  .title-center {
    text-align: center;
  }
  .bg__content-circle {
    width: 10rem;
  }
  .margin-section {
    margin-bottom: 5em;
  }
  .pb-1 {
    padding-bottom: 1.5em;
  }
  /*! ======= elements ============= */
  .header {
    padding: 0;
  }
  .header__container {
    padding: 1.25em;
    box-shadow: none;
  }
  .header__container--shadow {
    box-shadow: 0px 10px 8px -10px var(--gray);
    transition: box-shadow 0.5s;
  }
  .header__fixed {
    box-shadow: none;
  }
  .nav__menu {
    width: 30%;
  }
  .skills__container {
    max-width: 35rem;
  }
  .bg__content-circle--one {
    right: 0;
  }
  .bg-circle-one {
    left: 0;
  }
  .bg__content-circle--two {
    left: 0;
  }
  .bg-circle-two {
    right: 0;
  }
  .experience--container-element--item {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
  .footer__container-contact {
    margin: 0 15% 0;
  }
  .contact__item {
    width: 260px;
    gap: 1.5em;
  }
  /*! ================= PORTFOLIO CONTENT ================= */
  .portfolio__element {
    background: linear-gradient(90deg, #65007e 85%, #00000000 90%);
  }
  .portfolio__element input:checked ~ .portfolio__element--content {
    width: 35%;
  }
  .portfolio__img-vertical--active {
    display: none;
  }
  .portfolio__img-horizontal--active {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    height: 100%;
    opacity: 0;
    object-fit: contain;
    object-position: right;
  }
  .portfolio__element input:checked ~ label .portfolio__img-horizontal--active {
    z-index: 0;
    opacity: 1;
    transition: opacity 0.5s;
  }
  /*! ================= PORTFOLIO CONTENT ================= */
}
@media (width >= 64rem) {
  /*todo desktop */
  :root {
    --size-title: 4rem;
    --size-subtitle: 3rem;
    --size-sub-section: 2rem;
    --m-10: 3.125em;
  }
  body {
    font-size: 1.125rem;
  }
  .title {
    line-height: 4.5rem;
  }
  .sub-title {
    line-height: 3rem;
  }
  .sub-section {
    line-height: 2.4rem;
  }
  .header__container,
  .main,
  .footer {
    max-width: 64em;
    margin: 0 auto 0;
  }
  /*? MENU DESESTRUCTURATION */
  .header__container {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  .nav__Menu-img {
    display: none;
  }
  .nav__menu {
    width: auto;
    position: static;
    padding: 0;
    flex-direction: row;
    box-shadow: none;
    background: inherit;
  }
  .nav__menu-img-close {
    display: none;
  }
  .nav__div-list {
    flex-direction: row;
    gap: 1.875rem;
    font-size: var(--text-regular);
  }
  .ul__item {
    padding: 0;
  }
  .ul__item:hover {
    color: var(--white);
    box-shadow: 0px 10px 8px -10px var(--white);
  }
  .principal__content h1 {
    max-width: 700px;
  }
}
@media (width >= 80rem) {
  .principal__background-curve,
  .principal__background {
    width: 110%;
  }
  .bg__content-circle--one {
    right: -10%;
  }
  .bg__content-circle--two {
    left: -10%;
  }
}
