@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

:root{
    --font-family-principal: 'Rubik', sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --color-black: #020403;
    --color-gray: #adadad;
    --color-white: #ffffff;
    --mg-ten: 1rem
}

/*! ================== UNIVERSAL CONFIG =============== */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: var(--font-family-principal);
    color: var(--color-gray);
    background-color: var(--color-black);
    overflow-x: hidden;
    
}
img{
    object-fit: cover;
    max-width: 100%;
}

article{    
    padding: 15px;    
}


/*! ================== SELECTOR UNIVERSAL ============= */
.background-relative{
    position: relative;
}
.mb-section{
   
    margin-left: var(--mg-ten);
    margin-right: var(--mg-ten);
}
.title-h2{
    margin-top: 130px;
    font-size: 1.8rem;
    color: var(--color-white);
}
.text-center{
    text-align: center;
}

/*! ================== HEADER =================== */
.header{
    width: 100%;
}
.header--nav{
    height: 70px;
    background-color: var(--color-black);
}
/*? ================== HEADER FIXED =============== */
.header--fixed{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    box-shadow: 1px 0 10px 2px var(--color-gray);
}

/** ================== NAV ===================== */
.header--nav{
    display: flex;
    justify-content: flex-end;
    align-items:center;
}
.nav--Menu-img{
    width: 50px;
    padding: 5px;
}

/*? ==================== DIV-menu =========== */
.nav--div-menu{
    width: 65%;
    height:100vh;
    padding: 10px 5px;
    box-shadow: 0px 2px 10px 2px var(--color-gray) ;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--color-black);
}
/** ============= MENU OPEN/CLOSE ============ */
.menu--close{
    right: -100%;
    transition: right 0.5s ;
}
.menu--open{
    right: 0;
    transition: right 0.5s;
}
/** IMG/CLOSE */
.nav--menu-img-close{
    width: 3.5rem;
    padding: 5px;
    filter: invert(100%);
    border-radius: 50%;
    align-self: flex-end;
}
/** ================== LIST UL CONTENT ================== */
.nav--div-list{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    list-style: none;
}
/** ANCHOR/ITEM */
.ul--item{
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.2rem;
    text-decoration: none;
    color: var(--color-gray);
}

/*! =================== SECTION-PRINCIPAL =============== */
.principal--content{
    padding-top: 80px;
    /* margin-bottom: 150px; */
    display: grid;
    justify-items: center;
    text-align: center;
    background-image: url(/assets/background/Group\ 99.svg);
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: center 30%;
}
/* IMAGE PERFIL */
.principal--face-perfil{
    width: 200px;
    border-radius: 70%;
    
}
/* TITLE */
.principal--title{
    font-size: 2rem;
}
.principal--title__important{
    color: var(--color-white);
}
/** =============== DIV-REDES =========== */
.principal--div-redes{
    display: flex;
    gap: 20px;
}

/*? =============== BACKGROUND-TWO =========== */
.background-two{
    height: 130px;
    background-image: url(/assets/background/Group\ 98.svg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center 60%;
}

/*! ================= SECTIONS ============== */
/*? ==========background circle one =============== */
.background-circle-one{
    width: 100px;
    position: absolute;
    top: -40px;
    right: -10px;
    z-index: 2;
}
/*? === SKILLS === */
.grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(130px,1fr));
    gap: 30px 0px;
}
/* BOX SKILLS */
.flex-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* IMG-BOXSKILLS */
.iconSkills{
    width: 80px;
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(18, 37, 37);
}

/*! ================ SECTION/EXPERIENCE ============= */
.flex-xperience{
    display: flex;
    gap: 15%;
}
.flex-xperience p{
    margin: 5px;
}
.resalt{
    color: var(--color-white);
    font-weight: var(--font-medium);
}
/*! ================== IMG/PORTAFOLIO ================= */
/*? ========= IMG BACKGROUND-TWO ======== */
 .background-circle-two{
    width: 100px;
    position: absolute;
    top: -60px;
    left: -60px;
 }

/*! =============== FOOTER ================= */
.footer small{
    margin-bottom: 20px;
    text-align: center;
    display: block;
}
.contact--img{
    width: 70px;
    padding: 15px;
    border: 1px solid var(--color-gray);
    border-radius: 50%;
    display: flex;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* @media screen and (min-width:640px){
    .principal--content{
        background-position: center 10%;
    }
}

@media screen and (min-width:768px){
    .header--fixed{
        position: static;
        background-color: #adadad;
        width: initial;
    }
} */